@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 10, 10;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #0A0A0A;
}

/* 부드러운 스크롤 및 기본 폰트 설정 */
html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply antialiased;
  }
}
